@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Dosis&family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Dosis&family=PT+Serif:ital@1&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Changa+One&family=Dosis&family=PT+Serif:ital@1&family=Paytone+One&display=swap');


.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B5842;
    padding: 90px 0px 90px 0px;
}
.containerInfo {
   margin: 1em;
}
.containerRedes {
    margin-right: 1em;
}
.title-footer {
    list-style: none;
    font-family: "Changa One";
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    padding-bottom: 1em;
    color:#CA3E1B;
}
.text-footer {
   list-style: none;
   font-family: "Dosis";
   font-size: 20px;
   font-weight: 500;
   align-items: start;
   padding-bottom: 10px;
   color: white;
   text-decoration: none;
} 
.text-footer:hover {
    color: #CA3E1B;
    cursor: pointer;
}
.iconFooter {
    margin-left: 1em;
   
}

.iconFooter:hover {
    color: #CA3E1B;
}